html, body {
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
}

body {
    background: url("../images/light_back1.jpg") no-repeat;
    background-size: auto;
}

active {
    border-bottom: 1px white;
}

.nav-item:hover, .active {
    border-bottom: solid white 2px;
}

.nav-item {
    margin-left: 5px;
}

/* .nav-item:visited {
    border-bottom: solid white 2px;
} */

.navbar {
    background: transparent;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.left-text {
    height: 80%;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: flex-start;
    color: white;
    
}

.formSignUp {
    
    margin-top: 2%;
    display: flex;
    width: auto;
    flex-flow: row wrap;
    justify-content: center;
}

.card-container {
    width: 80%;
    align-self: center;
}

.left-text-inner span {
    display: inline-block;
    text-transform: uppercase;
    animation: spin-letters 10s linear;
}

.left-text-inner {
    margin-top: 4%;
    align-self: flex-start;
}

/* .formSignUp {
    height: 80%;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    color: white;
} */

@keyframes logoChanger {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }    
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      /* opacity: 0; */
    }
  }

  #aboutUs {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
  }

  .center-heading {
      align-self: auto;
  }
  
  #pageLoaderBackdrop {
      background-color: #111;
      opacity: 0.65;
      *background: none;
      position: absolute;
      color: white;
      z-index: 9001;
      top: 0;
      left: 0;
      width: 100%;
  }



